* {
    box-sizing: border-box;
}

body {
    background-color: rgb(255, 253, 253);
    font-family: 'Times New Roman', Times, serif;
    margin: 0;
}
header {
    display: flex;
    justify-content: space-between;
    padding: 15px 8%;
    position: fixed;
    top: 0;
    width: 100%;
    height: 10%;
}

header logo a {
    font-family: Cooper light;
    font-size: 2rem;
    text-decoration: none;
    font-weight: 300;
    color: black;
    font-style: italic;
}

header ul {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    list-style-type: none;
    width: 30%;
    font-size: 1.2rem;
    margin-top: inherit;
}

.nav-link {
    color: black;
    margin: 0 5px;
    text-decoration: none;
}

#header .icon {
    width: 20%;
    display: flex;
    justify-content: space-evenly;
}

.floor {
    height: 100%;
    padding: 20px 10%;
    overflow: hidden;
}

.first {
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
}

.first h1 {
    font-size: 3.2rem;
    position: relative;
    top: 30%;
    width: 49%;
}

.first p {
    position: relative;
    top: 25%;
    width: 50%;
    font-size: 0.9rem
}

.first img {
    width: 50%;
    height: 90vh;
    position: absolute;
    bottom: 0;
    right: 0;
    z-index: -1;
}

.first button {
    width: 15%;
    min-width: 100px;
    min-height: 2rem;
    height: 3rem;
    border-radius: 10px;
    border: none;    
}
.first button {
    background-color: black;
    color: white;
    position: relative;
    top: 26%;
}

.divider {
    height: 10%;
    width: 100%;
    margin: 0;
    padding: 10px 10%;
    background-color: black;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
    font-size: 14px;
}

.features {
    font-size: 0.75rem;
}

.second h2, .third h2, .forth div h2, .fifth h2, .sixth h2 {
    text-align: center;
    font-size: 2.2rem;
    padding-top: 7%;
}
.feature-container {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.second img {
    width: 40%;
    height: auto;
    position: relative;
    left: 5%;
}

.second p {
    width: 35%;
    height: 35%;
    border-radius: 10px;
    padding: 20px;
    background-color: white;
    text-align: center;
    font-size: 18px;
    font-family: Times New Roman;
    box-shadow: 0 0 10px 0 lightgrey;
}

.double-border {
    border-style: double;
    border-radius: 10px;
    border-color: lightgrey;
    border-top: none;
    width: 40%;
    height: 30vh;
    position: relative;
    top: -20%;
    left: 30%;
    z-index: -1;
}

.third {
    height: 110%;
    background-color: #dfdcdce3;
    padding: 0 8%;
}

.third p, .fifth p, .sixth p {
    text-align: center;
    margin-top: 0;
}

.collection {
    width: 23%;
    height: 60%;
    background-color: white;
    border-radius: 10px;
    padding: 1.3%;
}

.collection img {
    width: 100%;
    height: auto;
    margin: 0 auto;
}

.collection .product-name {
    font-size: 130%;
    text-align: left;
    margin-top: 0;
}

.collection .product-description {
    color: grey;
    text-align: left;
    height: 15%;
}

.button {
    border: 3px solid black;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    font-size: 2rem;
    text-align: center;
    vertical-align: center;
    font-family: DM Mono Medium;
}

.collection .cart {
    width: 65%;
    height: 2.5rem;
    border-radius: 10px;
    background-color: transparent;
    font-family: Times New Roman;
    font-size: 1rem;
    position: relative;
    left: 12.25%;
}

.shop {
    width: 20%;
    height: 3rem;
    border-radius: 10px;
    border: 2px solid black;
    background-color: transparent;
    font-size: 1rem;
    position: relative;
    top: 5%;
    left: 40%;
}

.forth {
    display: flex;
    padding: 5% 0;
}

.forth img, .forth div {
    width: 33.33%;
    height: 90%;
}

.forth div {
    padding: 3% 1%;
    background-color: #dfdcdce3;
}

.forth div p {
    text-align: center;
    font-size: 1.35rem;
    margin: 3% auto;
}

.forth div button {
    width: 40%;
    height: 3rem;
    font-size: 1rem;
    background-color: black;
    color: white;
    border: none;
    border-radius: 10px;
    margin: 7% 30%;
}

.products {
    display: flex;
    justify-content: space-between;
}

.product {
    width: 24%;
    height: 60%;
    overflow: hidden;
}

.product img {
    width: 100%;
    height: 100%;
}

.product h3 {
    width: 100%;
    height: 30px;
    font-weight: 700;
    font-size: 90%;
}

#video {
    height: 178;
    border: none;
    overflow: hidden;
}

.product p {
    text-align: left;
}

.product a {
    color: black;
    font-size: 14px;
    font-style: italic;
}

.fifth button {
    width: 20%;
    height: 3.5rem;
    background-color: transparent;
    border: 1px solid black;
    border-radius: 10px;
    font-size: 1rem;
    font-weight: 700;
    font-family: Times New Roman;
    margin: 30px 40%;
}

.reviews {
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
}

.review {
    width: 32%;
    height: 40vh;
    border-radius: 10px;
    box-shadow: 0 0 17px 0 grey;
    padding: 10px;
    display: flex;
}

.review img {
    height: 95%;
}

.name {
    margin: 10px;
}

.name p{
    text-align: left;
    font-size: 15px;
    margin-top: 10px;
    height: 150px;
}

footer {
    margin: 10px 10%;
}

.footer {
    display: inline-block;
    width: 40%;
    margin-right: 8px;
    vertical-align: top;
    //border: 1px solid black;
}

.footer h3 {
    font-weight: unset;
}
.footer p {
    width: 60%;
}

.footer input[type='email'] {
    width: 60%;
    height: 2rem;
    border: none;
    border-radius: 8px;
    box-shadow: 0 0 10px 0 grey;
}

.footer input[type='submit'] {
    width: 30%;
    height: 2rem;
    background-color: black;
    color: white;
    border: none;
    border-radius: 8px;
}

.footer ul {
    list-style-type: none;
    display: inline-block;
    vertical-align: top;
}

.footer ul li {
    margin-bottom: 10px;
}

.head {
    font-weight: 700;
}

.us a {
    color: black;
    text-decoration: none;
    font-size: 14px;
    margin: 5px;
}

.copyright {
    margin: 20px auto;
    text-align: center;
}

@media screen and (max-width: 600px) {
    * {
        box-sizing: border-box;
    }

    h1 {
        font-size
    }
}
